<h1>
  User Import
</h1>

<!-- Output the raw data for now -->
<table width="100%">
  <tr>
    <th>
      Naam
    </th>
    <th>
      E-mail
    </th>
    <th>
      Rol
    </th>
    <th>
      Status
    </th>
  </tr>
  <tr *ngFor="let dataRow of rawData">
    <td>
      {{dataRow.name}}
    </td>
    <td>
      {{dataRow.email}}
    </td>
    <td>
      {{dataRow.role}}
    </td>
    <td>
      {{dataRow.status}}
    </td>
  </tr>
</table>

<button type="button" (click)="clickSubmit()">
  Submit
</button>